<div style="margin-top: 15%; background-color: transparent; z-index: 1000;" class="row">
    <div data-ng-controller="View3Ctrl as ctrl">
        <h3><a href="#/view1">New search</a></h3>
        <div class="resultsList" style="height: 500px; overflow-x: hidden; overflow-y: scroll;">
            <h3>Results</h3>
            <div ng-repeat="result in ctrl.results">
                <uib-accordion class="resultList col-md-12" close-others="oneAtATime" ng-repeat="res in result.flights" style="z-index: 200;">
                    <div class="col-md-3"></div>
                    <uib-accordion-group class="resultGroup col-md-6" heading="Airline: {{result.airline}}  From: {{res.origin}}  To: {{res.destination}}">
                        <div class="resultInformation">
                            <p>Flight ID: {{res.flightID}}</p>
                            <p>Seats Remaining: {{res.numberOfSeats}}</p>
                            <p>Flight Date: {{res.date}}</p>
                            <p>Travel Time: {{res.traveltime}} Minutes</p>
                            <p>Total Price: {{res.totalPrice}}€</p>
                            <button type="button" ng-click="ctrl.toReservationPage(res.flightID, result.airline, res.origin, res.destination)">Reserve</button>
                        </div>
                    </uib-accordion-group>
                    <div class="col-md-3"></div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>
