<div ng-controller="mySignUpController as ctrl">
    <div class="col-md-4"></div>
    <div class="signupFieldsWrapper col-md-4">
        <div class="signupFields" style="text-align: center;">
            <md-content style="width: 105%; height: 105%;">
                <form name="signupForm" ng-submit="usersubmit()">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label style="text-align: center;">Username/Email</label>
                            <input  style="border-radius: 0px" required name="description" ng-model="ctrl.username" ng-pattern="/^.+@.+\..+$/">
                            <div ng-messages="ctrl.username.description.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">Has to look like an email.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label style="text-align: center;">Password</label>
                            <input type="password" style="border-radius: 0px" minlength="8" required name="description" ng-model="ctrl.password">
                            <div ng-messages="ctrl.password.description.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="minlength">Has to be at least 8 characters long.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <!--<md-button class="md-primary" >SUBMIT</md-button>-->
                    <md-button ng-click="usersubmit()" class="md-primary" ng-disabled="signupForm.$invalid">SUBMIT</md-button>
                </form>
            </md-content>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>