<div ng-controller="AppLoginCtrl">
    <div class="loginModuleDefault col-md-12">
        <div class="col-md-12">
            {{error.message}}
        </div>
        <div class="col-md-12">
            <input id="username" type="text" placeholder="Username" ng-model="user.username"/>
        </div>
        <div class="col-md-12">
            <input id="password" type="password" placeholder="Password" ng-model="user.password"/>
        </div>
        <div class="col-md-12">
            <button id="loginSubmitBtn" type="submit" ng-click="login()">Login</button>
        </div>
        <div class="newUser col-md-12">
            <p>Not an user yet? </p><a href='#/view2'>Sign up</a>
        </div>
    </div>
</div>
