<div style="margin-top: 20%; background-color: transparent; z-index: 1000;" class="row">
    <div data-ng-controller = "View6Ctrl as ctrl">
        <input ng-model="ctrl.reserveeName" placeholder="Insert Name"/>
        <input ng-model="ctrl.reserveePhone" placeholder="Insert Phone"/>
        <div ng-repeat="passengers in passengersCount">
            <input ng-model="passengers.firstName"placeholder="Insert Passenger Firstname"/><span>{{passengers.firstName}}</span>
            <input placeholder="Insert Passenger Lastname"/>
        </div>
        <button type="button" ng-click="ctrl.showIndexes()">Reserve</button>
    </div>
</div>