/*BODY CSS*/
body{
    background-color: black;
    color: black;
    overflow: hidden;
    font-family: 'Abel', sans-serif;
}


/*CSS FOR NAVBAR*/

.navbar-inverse {
    position: fixed;
    top: 0px;
    width: 100%;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: transparent;
    border-radius: 0px;
    border-color: #080808;
    z-index: 100;
    border: none;
}

.navbar-nav>li>a {
    transition: 0.3s all ease;
}

.navbar-nav>li>a:hover {
    color: #FF5714;
}

.nav>li>a:focus,.nav>li>a:active, .nav>li>a:hover {
    text-decoration: none;
    color: #FF5714!important;
    background-color: transparent!important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent!important; 
}


.logo img {
    position: fixed;
    top: 50px;
    left: 50px;
    height: 130px;
}



/*CAROUSEL CSS*/

#myCarousel {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 30px solid white;
}

.cvrSearch {
    position: absolute;
    top: 300px;
    z-index: 1000;
}


/*SEARCHFIELD CSS*/
.searchTableFromTo {
    margin-top: 21%;
    background-color: white;
    height: 500px;
}

.searchFieldWrapper{
    /* position: absolute; */
    text-align: center;
    display: table;
    text-align: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.searchField {
    position: relative;
    height: 180px;
    z-index: 200;
    opacity: 1;
    transition: .4s all ease;
}

.searchField input {
    /*    text-align: center;
        height: 60px;
        width: 300px;
        margin: 5px;
        border: none;
        padding-left: 10px;
        color: #333333;
        font-size: 20px;
        background-color: rgba(255,255,255,.9);*/
}

.searchField input:focus {
    outline:0;
}

.searchInputFields {
    margin-top: 60px;
    z-index: 100;
}

#numberOfPassangersInput {
    width: 100%;
    text-align: center;
    height: 42px;
    margin-top: 4px;
    margin-left: 5px;
    padding-left: 10px;
    border: none;
    background-color: transparent;
    color: black;
}

.searchButton {
    margin-top: 10px;
    height: 50px;
    width: 50px;
    border-radius: 90px;
    padding-left: -1px;
    transition: 0.3s all ease;
}

.searchButton:hover {
    margin-top: 8px;
    height: 55px;
    width: 55px;
    background-color: purple;
    border-color: transparent;
}

.searchFieldTabs {
    position: absolute;
    top: 280px;
    z-index: 100;
}

.mdInput {
    width: 100%;
    height: 100%;
    border-radius: 0px !important;
}

.md-datepicker-triangle-button.md-button.md-icon-button {
    height: 100%;
    width: 36px;
    position: absolute;
    margin-top: 8px;
}

.md-pane-open {
    z-index: 200;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
    position: absolute;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    height: 225.5px;
    max-height: 225.5px;
    z-index: 1000 !important;
}

.md-datepicker-calendar-pane.md-pane-open {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 1000 !important;
}

/*RESULTS*/
.resultsList {
    z-index: 200;
}

.results li {
    list-style-type: none;
}

.ng-scope {
    text-align: center;
}


.view1Style {
}


/*LOGIN SCREEN CSS*/
#loginScreen {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: -10;
    opacity: 0;
    transition: 0.8s ease all;
}

#loginBtn {
    cursor: pointer;
    position: fixed;
    right: 40px;
    top: 10px;
    /* margin-top: -35px; */
}

#closeBtn {
    position: fixed;
    top: 40px;
    right: 60px;
    font-size: 22px;
    cursor: pointer;
    color: #333333;
}

.loginField {
    margin-top: 300px;
}

.loginField input {
    text-align: center;
    cursor: pointer;
    height: 60px;
    max-width: 300px;
    margin: 5px;
    border: none;
    padding-left: 10px;
    color: black;
    font-size: 28px;
}

.loginField input:focus {
    outline:0;
}

#loginSubmitBtn {
    color: black;
    height: 40px;
    border-radius: 90px;
    background-color: white;
    border: none;
}

.loggedIn {
    position: fixed !important;
    right: 40px;
    top: 10px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgba(0,0,0,.8);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    black;
    opacity:  .8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    black;
    opacity:  .8;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    rgba(0,0,0,.8);
}



//SIGNUP CSS

.signupFieldsWrapper {
    width: 300px;
}
